export KUBECONFIG="$PWD/.kube/config"
export K3D_CLUSTER_NAME=quickstart
export K3S_VERSION=v1.26.0-k3s2
export REGISTRY_DATA="$PWD/.registry-data"

PATH_add "$PWD/bin"

dotenv_if_exists
source_env_if_exists .envrc.local